---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: worker
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      # serviceAccountName: worker
      containers:
      - name: worker
        image: mrtc0/seccamp-2023-worker
